<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <script src="/js/home.js" defer></script>
</head>
<body>
    <div>Welcome</div>
    <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
    <form sec:authorize="isAnonymous()" action="#">
        <p><button type="button" th:onclick="authorizationCode()" th:text="|AuthorizationCode Grant|"/></p>
        <p><button type="button" th:onclick="authorizationCodeWithPKCE()" th:text="|AuthorizationCode Grant with PKCE|"/></p>
    </form>
</body>
</html>
